$base-font:1rem;
$font-family:Symphonie Grotesque;
$base-color:#000;
$white-color:#fff;
$color-yellow:#f8e84e;
$color-white:#ffffff;
$color-blue:#6ed5fe;
$color-red:#e53901;
$color-grey:#171513;
$bg-transparent:transparent;







