$base-font:1rem;
$font-family:Symphonie Grotesque;
$base-color:#000;
$color-yellow:#f8e84e;
$color-white:#ffffff;
$color-blue:#6ed5fe;
$color-red:#f64f3c;
$color-grey:#797979;
$bg-transparent:transparent;







